*,*::after,*::before{ box-sizing: border-box;}
body {
  margin: 0;
  font-family:'Roboto', sans-serif;
}
p{
  margin: 0;
  position: absolute;
  color: rgb(255, 253, 253);
  bottom: 5%;
  right: 10%;
  font-weight: bold;
  font-size: 1.2em;
  z-index: 1000;
  -webkit-text-stroke: 1px black;
}
img{
  width: 100%;
  height: 100%;
  object-fit:cover;
  object-position: 0 10%;
  z-index: 100;
  position: absolute;
  left: -3.5%;
  user-select: none;
}
img:hover {
  cursor: grab;
  
}
.lighten {
  filter: brightness(50%);
}
.hide {
  display: none;
}
.reset-button {
  padding: 2vh 0;
  background-color: lightblue;
  border: 2px black solid;
  border-radius: 1em;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.board {
  position: absolute;
  background-color: rgb(187, 155, 113);
  max-height: min(70vmin + 10em, 90vh);
  max-width: min(70vmin + 10em, 100%);
  width: calc(70vmin + 10em);
  aspect-ratio: 1 / 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
}
.row{
  display: flex;
  
}
.row:nth-child(even) .tile:nth-child(odd), .row:nth-child(odd) .tile:nth-child(even){
  background-color: rgb(206, 95, 55);
}
.row:nth-child(odd) .tile, .row:nth-child(even) .tile{
  background-color: rgb(187, 155, 113);
}
.tile {
  height: 100%;
  width: 100%;
  aspect-ratio: 1 / 1;
  position: relative;
}
.row-1 .tile-a::before,
 .row-2 .tile-a::before,
 .row-3 .tile-a::before,
 .row-4 .tile-a::before,
 .row-5 .tile-a::before,
 .row-6 .tile-a::before,
 .row-7 .tile-a::before,
 .row-8 .tile-a::before{
  font-weight: bold;
  color: white;
  position: absolute;
  top: 5%;
  left: 5%;
  font-size: 1.2em;
  user-select: none;
    z-index: 1000;
  -webkit-text-stroke: 1px black;
  pointer-events: none;
}
.row-1 .tile-a::before{content: '1';}
 .row-2 .tile-a::before{content: '2';}
 .row-3 .tile-a::before{content: '3';}
 .row-4 .tile-a::before{content: '4';}
 .row-5 .tile-a::before{content: '5';}
 .row-6 .tile-a::before{content: '6';}
 .row-7 .tile-a::before{content: '7';}
 .row-8 .tile-a::before{content: '8';}

.row-1 .tile-a::after,
 .row-1 .tile-b::after,
 .row-1 .tile-c::after,
 .row-1 .tile-d::after,
 .row-1 .tile-e::after,
 .row-1 .tile-f::after,
 .row-1 .tile-g::after,
 .row-1 .tile-h::after{
  font-weight: bold;
  color: white;
  position: absolute;
  bottom: 5%;
  right: 10%;
  font-size: 1.2em;
  user-select: none;
    z-index: 1000;
  -webkit-text-stroke: 1px black;
  pointer-events: none;
}
.row-1 .tile-a::after{content: 'a';}
 .row-1 .tile-b::after{content: 'b';}
 .row-1 .tile-c::after{content: 'c';}
 .row-1 .tile-d::after{content: 'd';}
 .row-1 .tile-e::after{content: 'e';}
 .row-1 .tile-f::after{content: 'f';}
 .row-1 .tile-g::after{content: 'g';}
 .row-1 .tile-h::after{content: 'h';}
